


.container{
    /* background-color:royalblue ; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
    border: 1px solid red; 
  }
  .cima{
    padding-top: 150px;
  }
  .cor-preta{
    background-color: #e5e5e5;
}
  .cor-branca{
    background-color: whitesmoke !important;
  }
  .col-100{
    background-color:var(--cor-t);
    border: 1px solid rgb(72, 0, 255); 

  }
  .cor-cinza{
    background-color: #d6d9dd !important;
  }

.tela-toda{
  /* height: 100vh; */
}
.secao{
  padding: 80px 0;
}
.baixo{
  padding-bottom: 100px;
}
/* GRIDS */
.grid-1{
  border: 1px solid greenyellow;
  display: grid;
  grid-template-columns:  1fr;
  gap:40px;
}
.grid-2{
  border: 1px solid greenyellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
}
.grid-3{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap:40px;
}
.grid-3-coluna{
  display: grid;
  grid-template-rows:repeat(3,1fr);

}
.grid-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:40px;
}
  ul{
    list-style: none !important;
  }

  @media screen and (max-width: 960px){
    .container{

       max-width: 100%;
     }
     .grid-2{
      grid-template-columns: 1fr;
     }
     .grid-4{
      grid-template-columns:repeat(2,1fr);
     }
     .col-100{

      max-width: 100%;
     }
   }
 
  