




.caixa-contato{
    border-radius: 30px;
    background-color: var(--cor-t);
    height: 100%;
    width: 100%;
}

.form-contato input {
    font-family: "Saira";
    font-weight: 800;
   margin-top: 20px;
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}


.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
margin-left: 30px;
    display: flex;
    font-family: "Saira";
    font-weight: 800;
    padding: 7px 35px;
    border-radius: 5px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(3px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

