.hero-titulo h1{
  text-align: left !important;
}
nav ul{

  display: flex;
  gap:70px;
}
nav a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #fbfbfb;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration:none; 
}

nav a:hover{
  box-shadow: inset 100px 0 0 0 #54b3d6;
  text-decoration:none; 
}


nav li{
  padding: 4px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Saira";
  font-weight: 700;
}

nav img {
  width: 84px;
  height: 88px;
  flex-shrink: 0;
}


header{
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}
@media (max-width: 360px) {
  nav ul{

    display: flex;
    gap:10px;
  }
 
       }