
#hero{
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 1fr;
   h1{
    color: #2b2b2b;
    line-height: 120%;
    font-size: 5rem !important;
    text-align: left !important;
  }
}
.hero-titulo span{
  
color: #fbfbfb;
}
.apoiadores-logos img{
  max-height: 90px;
  max-width: 90px;
}
 .hero-botao  a:hover{
  box-shadow: inset 500px 0 0 0 black;
  text-decoration:none; 
}
.botao-hero{
  /* TOP - DIREITA - BAIXO - ESQUERDA */
  margin: 40px 0 0 80px;
}
  

 .titulo-apoiadores h4{
  color: #2b2b2b;
  font-size: 2rem;
  font-family: "Saira";
  font-weight: 800;
 }

.botoes-caixa a:hover{
  box-shadow: inset 100px 0 0 0 #fbfbfb;
  text-decoration:none; 
}

.hero-botao{
  
  padding-top: 40px;
}


.hero-apoiadores-botao .botao-apoio {

  display: flex;
  justify-content: center;
}
.hero-apoiadores-botao .botao-apoio a {
  margin-top: 120px;
 background-color: rgb(74, 74, 242);
}
.hero-apoiadores-botao .botao-apoio a:hover{
  width: 300px;
  border: 3px solid var(--cor-body);
  background: rgb(255, 156, 90);
  color: black;
}

.botao-apoio a:hover{
  border: 3px solid var(--cor-body);

} 
// .botao-apoio{
//   a{
//     &:hover{
//   border: 3px solid var(--cor-body);
//     }
//   }
// }
.card-hero{
  h4{
  color: tomato;
  }
}