.bg-planos{
  background-color: var(--cor-p);
}
#planos{

display: flex;
justify-content: space-around;
}
.caixa-planos{
  .lugares-planos{
    ul{
      
      text-align: left; /* Alinha o texto à esquerda */
      margin: 0 auto; /* Centraliza o elemento na horizontal */
      font-family: "Poppins";
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      li{
  
        a{
          border-radius: 5px;
          padding: 0px 50px 0px 5px;
          background-color: #775c4cb4;
      color: #222222;
  text-decoration: none;
  transition:.50s;
    &:hover{
      background-color: #f49336;
    }
        }
      }
    }
  }
  width: 100%;
  display: flex;
justify-content: space-around;
  // background-color: red;
  .planos-img{
    img{
display: block;
    }
  }
.titulo-planos{
  h6{
    font-family: var(--font-titulo);
    font-weight: 700;
    color: #070707;
    font-size: 2.5rem;
  }
 
}
}
