.cards-hero{

}
.card-hero{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--cor-t);
  border-radius: 15px;
  text-align: center;
  padding: 50px;

  transform: translateY(50%);
}
.card-hero a{
  text-decoration: none;
  color:whitesmoke;
}

/* ÍCONES */
.card-hero ion-icon {
  opacity: 0.6;
  font-size: 60px;

}
.card-hero:hover ion-icon{
  opacity: 1;
  transition: .50s;
}
.card-hero h4{
  font-family: "Saira";
  font-size: 1.6rem;
}
.card-hero:hover{
  transition: .50s;
  background-color: var(--cor-body);
}