
#hero{
  height:800px;
}
 .hero-botao  a:hover{

  box-shadow: inset 500px 0 0 0 black;
  text-decoration:none; 
}
.botao-hero{
  margin-top: 10%;
  margin-left: 20%;
}
  
header nav ul  li span{
    color: #fbfbfb;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #f85a40 ;
 }


  .botoes-caixa a:hover{
    box-shadow: inset 100px 0 0 0 #fbfbfb;
    text-decoration:none; 
  }
.hero-img img{
  max-height: 40%;
}
.hero-botao{
  padding-top: 40px;
}
.hero-subtitulo p{

}