#planos{
    width: 20%;
}
.pricing{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
    background: #fff;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.pricing h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #555555;
    text-align: center;
  }
  
  .pricing .icon {
    margin: 30px auto 30px auto;
    width: 70px;
    height: 70px;
    background: var(--cor-p);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;
  }
  
  .pricing .icon i {
    color: #fff;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    line-height: 0;
  }
  
  .pricing .icon::before {
    position: absolute;
    content: "";
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background: #2a2725;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .pricing .icon::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: #d2eeeb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-2px);
  }
  
  .pricing h4 {
    font-size: 48px;
    color: var(--cor-s);
    font-weight: 700;
    font-family: var(--font-titulo);
    margin-bottom: 0;
    text-align: center;
  }
  
  .pricing h4 sup {
    font-family: var(--font-texto);
    font-size: 28px;
  }
  
  .pricing h4 span {
    color: rgba(108, 117, 125, 0.8);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-texto);
  }
  
  .pricing ul {
    padding: 20px 0;
    list-style: none;
    color: #6c757d;
    text-align: left;
    line-height: 20px;
  }
  
  .pricing ul li {
    font-family: var(--font-texto);
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .pricing ul i {
    color: #2ea723;
    font-size: 24px;
    padding-right: 3px;
  }
  
  .pricing ul .na {
    color: rgba(108, 117, 125, 0.5);
  }
  
  .pricing ul .na i {
    color: rgba(108, 117, 125, 0.5);
  }
  
  .pricing ul .na span {
    text-decoration: line-through;
  }
  
  .pricing .buy-btn {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    color: var(--cor-p);
    border: 1px solid #775c4c 0.2;
    transition: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-texto);
    transition: 0.3s;
  }
  
  .pricing .buy-btn:hover {
    background: var(--cor-p);
    color: #fff;
  }
  
  .pricing .featured {
    z-index: 10;
    border: 3px solid var(--cor-p);
  }