
.titulo-footer h2{
  text-align: left !important;
  padding:50px;
  color:#fbfbfb;
  font-size: 24px;
  font-family: "Saira";
font-weight: 700;
}
.footer-icons{
float: right;
  width: 10%;
  transition: ease .65s;
}
.footer-icons a{
  font-size: 30px;
  transition: all .65s;
  margin-left: 25px;
  color:#fbfbfb
}
.footer-icons a:hover{
  font-size: 35px;
  color: #ffffff;
  line-height: 35px;
  transition: all .65s;
}
.footer-1 h4{
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.7rem;
}
.footer-1 h6{
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.1rem;
}
.footer-1 h6{
  font-family: "Saira";
  font-weight: 800;

}
.footer-1 h6 a {
  text-decoration: none;
  color: #000000;
font-size: 0.8rem;
}
.footer-1 h6 a:hover{
  font-size: 0.8rem;
  color: #ff0000;
  transition: all .65s;
  }
  .footer-1 p{
    /* transform: translateY(100%) ; */
    color: #222222;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

}
.footer-1 ul li{
  transform: translateX(-100%);

  margin-right: 30px;
  font-family: "Saira";
  font-weight: 800;
  font-size: 1rem;
}
.footer-1 a{
color:#000000;
}
.footer-1 a:hover{
  transition: .65s;
  color:#ff0000;
  }
.footer-1 ul li a{
text-decoration: none;}

.footer-2 ul li{
  margin-top: 20px;
  font-size: 20px;
}
.footer-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
}
