
:root {
    --font-titulo: "Saira", sans-serif;
    --font-texto: "Poppins", sans-serif;
  }
  

  :root {
    --cor-body: #222222;
    --cor-p: #f49336;
    --cor-s: #f85a40;
    --cor-t:#775c4c;
  }
  
body{
    background-color: var(--cor-p);
    margin: 0 auto;
}

/* botao */
.wrapper{

  top: 50%;
  left: 50%;

}

.link_wrapper{
  position: relative;
}

.botao-apoio{
  display: flex;
  justify-content: center;
}
.botao-apoio a{
  border-radius: 20px;

  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
 font-family: var(--font-titulo);
 font-weight: 800;
  text-decoration: none;
  background: var(--cor-s);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid var(--cor-body);
  transition: all .35s;
}



.botao-apoio a:hover{

  width: 300px;
  border: 3px solid var(--cor-body);
  background: rgb(45, 173, 45);
  color: black;
}

.botao-apoio a:hover{
  border: 3px solid var(--cor-body);

}

