@charset "UTF-8";
/* base */
.container {
  /* background-color:royalblue ; */
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}
.swiper {

}
.cima {
  padding-top: 150px;
}

.cor-branca {
  background-color: whitesmoke !important;
}

.cor-bl {
  background-color: #451a03;
}

.cor-cinza {
  background-color: #d6d9dd !important;
}

.tela-toda {
  /* height: 100vh; */
}

.secao {
  padding: 80px 0;
}

.baixo {
  padding-bottom: 100px;
}

/* GRIDS */
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid-2 {
  /* border: 1px solid greenyellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
}

.grid-3-coluna {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

ul {
  list-style: none !important;
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 100%;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-100 {
    max-width: 100%;
  }
}
.titulo-footer h2 {
  text-align: left !important;
  padding: 50px;
  color: #fbfbfb;
  font-size: 24px;
  font-family: "Saira";
  font-weight: 700;
}

.footer-icons {
  float: right;
  width: 10%;
  transition: ease 0.65s;
}

.footer-icons a {
  font-size: 30px;
  transition: all 0.65s;
  margin-left: 25px;
  color: #fbfbfb;
}

.footer-icons a:hover {
  font-size: 35px;
  color: #ffffff;
  line-height: 35px;
  transition: all 0.65s;
}

.footer-1 h4 {
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.7rem;
}

.footer-1 h6 {
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.1rem;
}

.footer-1 h6 {
  font-family: "Saira";
  font-weight: 800;
}

.footer-1 h6 a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8rem;
}

.footer-1 h6 a:hover {
  font-size: 0.8rem;
  color: #ff0000;
  transition: all 0.65s;
}

.footer-1 p {
  /* transform: translateY(100%) ; */
  color: #222222;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.footer-1 ul li {
  transform: translateX(-100%);
  margin-right: 30px;
  font-family: "Saira";
  font-weight: 800;
  font-size: 1rem;
}

.footer-1 a {
  color: #000000;
}

.footer-1 a:hover {
  transition: 0.65s;
  color: #ff0000;
}

.footer-1 ul li a {
  text-decoration: none;
}

.footer-2 ul li {
  margin-top: 20px;
  font-size: 20px;
}

.footer-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
}

.footer-principal {
  background-color: var(--cor-p);
}

#topo {
  margin: 0;
  padding: 1px;
  background-color: var(--cor-t);
}

#topbar {
  color: #fbfbfb;
  font-family: "Poppins";
  font-size: 12px;
}
#topbar ul {
  gap: 30px;
  display: flex;
}
#topbar a {
  color: #fbfbfb;
  text-decoration: none;
}

#nav-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
#nav-header ul {
  display: flex;
  gap: 40px;
}
#nav-header h6 {
  color: #fbfbfb;
  font-family: "Saira";
  font-weight: 800;
  font-size: 30px;
}
#nav-header span {
  color: #f85a40;
}

#nav-header a {
  opacity: 0.8;
  color: #fbfbfb;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 var(--cor-s);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  text-decoration: none;
}

#nav-header a:hover {
  border-radius: 5px;
  box-shadow: inset 200px 0 0 0 var(--cor-s);
  text-decoration: none;
}

#nav-header li {
  color: #fbfbfb;
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Saira";
  font-weight: 700;
}

@media (max-width: 360px) {
  #nav-header ul {
    display: flex;
    gap: 10px;
  }
}
h2 {
  text-align: center;
  font-family: var(--font-titulo);
  font-weight: 700;
  color: #fbfbfb;
  font-size: 3.5rem;
}

h1 {
  text-align: center;
  font-family: var(--font-titulo);
  font-weight: 700;
  color: #fbfbfb;
  font-size: 3.6rem;
}

h3 {
  text-align: center;
  font-family: var(--font-titulo);
  font-weight: 700;
  color: #fbfbfb;
  font-size: 3.5rem;
}

p {
  text-align: left; /* Alinha o texto à esquerda */
  margin: 0 auto; /* Centraliza o elemento na horizontal */
  color: #222222;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 800px) {
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1.125rem !important;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.125rem !important;
  }
}
.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #000000;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  font-weight: 800;
  font-family: "Saira";
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 1.6rem;
}

.app-contact {
  font-family: "Poppins";
  margin-top: auto;
  font-size: 1.2rem;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-family: "Saira";
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::-moz-placeholder {
  color: #666;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  font-family: "Saira";
  font-weight: 800;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #68d45c;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title {
    flex-direction: row;
  }
  .app-title span {
    margin-right: 12px;
  }
  .app-title:after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }
  .screen-body-item {
    padding: 0;
  }
}
/* home */
#hero {
  justify-items: center;
  align-items: center;
  grid-template-columns: 3fr 2fr;
}
#hero h1 {
  color: #2b2b2b;
  line-height: 120%;
  font-size: 4rem !important;
  text-align: left !important;
}

.hero-a .card-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  transform: translateY(0%) !important;
}
.hero-a .card-hero img {
  max-width: 100px;
  max-height: 100px;
}

.hero-a-t span {
  color: var(--cor-body);
}

.hero-titulo span {
  color: #fbfbfb;
}
.hero-titulo p {
  font-size: 18px;
  color: #fbfbfb;
  opacity: 0.7;
  width: 70%;
  margin-right: 100%;
}

.hero-btn {
  margin: 40px 20%;
  font-family: "Saira";
  font-size: 20px;
  font-weight: 800;
  background-color: rgba(12, 208, 58, 0.638);
}
.hero-btn:hover {
  transition: 0.35s;
  background-color: rgba(206, 30, 30, 0.683);
}

button {
  background: none;
  border-radius: 30px;
  padding: 20px;
}
button a {
  color: whitesmoke;
  text-decoration: none;
}
button a hover {
  background-color: red;
  color: red;
}

.hero-img img {
  max-width: 100%;
  height: 100%;
}

.apoiadores-logos img {
  height: 90px;
  width: 100%;
}

.hero-botao a:hover {
  box-shadow: inset 500px 0 0 0 black;
  text-decoration: none;
}

.botao-hero {
  /* TOP - DIREITA - BAIXO - ESQUERDA */
  margin: 40px 0 0 80px;
}

.titulo-apoiadores h4 {
  color: #2b2b2b;
  font-size: 3rem;
  font-family: "Saira";
  text-align: center;
  font-weight: 800;
}

.botoes-caixa a:hover {
  box-shadow: inset 100px 0 0 0 #fbfbfb;
  text-decoration: none;
}

.hero-botao {
  padding-top: 40px;
}

#lugares h1 {
  color: #2b2b2b;
}

.hero-apoiadores-botao .botao-apoio {
  display: flex;
  justify-content: center;
}

.hero-apoiadores-botao .botao-apoio a {
  margin-top: 120px;
  background-color: rgb(74, 74, 242);
}

.hero-apoiadores-botao .botao-apoio a:hover {
  width: 300px;
  border: 3px solid var(--cor-body);
  background: rgb(255, 156, 90);
  color: black;
}

.botao-apoio a:hover {
  border: 3px solid var(--cor-body);
}

.card-hero h4 {
  color: #fbfbfb;
}

#sobre span {
  border-bottom: 3px solid #f85a40;
}

.sobre-caixa-2 .sobre-imagem img {
  width: 100%;
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  font-family: "Poppins";
  font-size: 1.2rem;
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.sobre-titulo h1 {
  color: rgb(25, 25, 25);
}

.sobre-subtitulo p {
  color: rgb(112, 112, 112);
}

.card-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-t);
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  transform: translateY(50%);
}

.card-hero a {
  text-decoration: none;
  color: whitesmoke;
}

/* ÍCONES */
.card-hero i {
  opacity: 0.6;
  font-size: 60px;
}

.card-hero:hover i {
  opacity: 1;
  transition: 0.5s;
}

.card-hero h4 {
  font-family: "Saira";
  font-size: 1.6rem;
}

.card-hero:hover {
  transition: 0.5s;
  background-color: #302622;
}

.bg-planos {
  background-color: var(--cor-p);
}

#planos {
  display: flex;
  justify-content: space-around;
}

.caixa-planos .lugares-planos ul {
  text-align: left; /* Alinha o texto à esquerda */
  margin: 0 auto; /* Centraliza o elemento na horizontal */
  font-family: "Poppins";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.caixa-planos .lugares-planos ul li a {
  border-radius: 5px;
  padding: 0px 50px 0px 5px;
  background-color: rgba(209, 33, 33, 0.7058823529);
  color: #222222;
  text-decoration: none;
  transition: 0.5s;
}
.caixa-planos .lugares-planos ul li a:hover {
  color: white;
}
.caixa-planos .planos-img img {
  display: block;
}
.caixa-planos .titulo-planos h6 {
  font-family: var(--font-titulo);
  font-weight: 700;
  color: #070707;
  font-size: 2.5rem;
}

.cartao-doacao {
  display: flex;
  background-color: var(--cor-s);
  padding: 0 20px  !important;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.cartao-doacao a {
  font-size: 1rem;
  font-family: "Saira";
  color: white;
}
.cartao-doacao:hover {
  background-color: rgba(28, 81, 5, 0.78);
  transition: 0.65s;
}
.img-apoiador{
  margin-bottom: 30px;
  height: 200px;
}
.adic-bairro {
  margin-bottom: 30px;
  text-decoration: none;
  font-family: var(--font-titulo);
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}



.fileUpload {
  position: relative; 
  overflow: hidden;
  background-color: white;
  padding: 10px 20px;
  font-family: "Poppins";
  font-weight: 800;
  border-radius: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 10px; 
}
input.btn-enviar-form-usu{
background-color: #f85a40;
display: flex;
justify-content: center;
align-items: center;
font-family: "Poppins";
font-weight: 800;
margin: 0 auto;
border-radius: 10px;
border: none;
padding: 10px 20px;
}
input.btn-enviar-form-usu:hover{
  background-color: green;
color: white;

  transition: .50s;

  }
.fileUpload input.upload { 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 0; 
  padding: 0; 
  font-size: 20px; 
  cursor: pointer; 
  opacity: 0; 
  filter: alpha(opacity=0); 
}

input.text{
  
  display: flex;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  padding: 10px 50px;
  background-color: white;
}

.formulario-usu{
  display: flex;
  justify-content: center;
  align-items: center;
}





.comedouro{
  border-radius: 20px;
  max-height: 700px;
  width: 100%;
}
.adic-bairro:hover {
  padding: 0px 0px 0px 20px;
  transition: 0.6s;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.807);
}

.adic-bairro.excluir-bairro:hover {
  padding: 0px 0px 0px 20px;
  transition: 0.6s;
  border-radius: 5px;
  background-color: rgba(128, 0, 0, 0.807);
}
.adic-bairro.excluir-bairro {
  margin-bottom: 30px;
  text-decoration: none;
  font-family: var(--font-titulo);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 800;
}


.cadastro-bairros {
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.25rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cadastro-bairros input {
  background-color: whitesmoke;
  font-family: "Saira";
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 10px 5px;
}
.cadastro-bairros .submit {
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  margin-top: 20px;
  background-color: rgba(7, 184, 7, 0.72);
}
.cadastro-bairros .submit:hover {
  background-color: green;
  transition: 0.65s;
}
.cadastro-bairros .imginput {
  padding: 5px 10px;
}
.cadastro-bairros .imginput:hover {
  transition: 0.65s;
}

#perguntas-f {
  grid-template-columns: 1fr 3fr;
}
.swiper-wrapper{
  padding: 30px;
}

.perguntas-titulo h4 {
  font-family: "Saira";
  color: #535252;
  font-size: 3rem;
}
.perguntas-titulo h4 span {
  color: black;
  font-size: 1.5;
}
.perguntas-titulo p {
  font-family: "Poppins";
  color: #454545;
  font-size: 1.2rem;
}

.titulo-caixa-p .texto {
  display: none;
}

.titulo-caixa-p:active .texto {
  display: block;
}

.caixa-pergunta {
  border-radius: 15px;
  background-color: rgba(251, 251, 251, 0.9803921569);
  padding: 20px;
  border: 1px solid black;
  margin: 50px;
  cursor: pointer;
}
.caixa-pergunta .active {
  color: var(--cor-s);
}
.caixa-pergunta p {
  font-size: 1.1rem;
  font-family: "Poppins";
}
.caixa-pergunta details summary {
  font-weight: 800;
  font-family: "Saira";
  font-size: 1.2rem;
}
.apoiador-pagina{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.418);
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.apoiador-pagina p{
  font-family: "Poppins";
  font-size: 24px;
  

}
.cartoes-doacoes{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 50px;
  gap: 30px;
}
.paragrafo-descricao{
  font-family: "Saira";
  font-weight: 800;
  padding-bottom: 50px;
}
.paragrafo-apoiador{
  font-weight: 800;
  color: var(--cor-s);
}
.apoiadores-li {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.655);
}
.apoiadores-li:hover{
background-color: white;
transition: .65s;
}
.apoiadores-li img{
  height: 300px;
  max-width: 350px;
}
#tabela {
  background-color: rgba(0, 0, 0, 0.7803921569);
  border-radius: 10px;
  padding: 30px;
}

table {
  border-radius: 10px;
  background-color: #f5c67b;
  width: 100%;
  border: 1px solid black;
}

.table-row {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  padding: 3 0;
  border-radius: 10px;
}
.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

.table-header {
  border-radius: 10px;
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  background: #242020;
  padding: 3 0;
}

.filter__link {
  color: white;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -3;
  color: white;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}

/* alimentadores */
#paniel-alimentadores {
  margin-top: 5%;
  width: 100%;
  /* border: 1px solid red; */
}
.ul-preencha-o-formulario{
  color: #252525;

font-size: 1.3rem;
font-family: "Poppins";
}
.ul-preencha-o-formulario li{
   list-style-type: circle;
  }
.ul-preencha-o-formulario span{
  color: #000000;

  font-weight: 800;
}
.pg-alimentadores-mapa{
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(56, 44, 44, 0.135);

  background-color: #f6f6f6e9;
  padding:30px;
}
.pg-alimentadores-mapa h1{
color: black;
}



.pg-alimentador-apoiadoreslista {
  height: 300px;
}

.pg-alimentador-apoiadoreslista h5 {
  font-family: "Saira";
  font-weight: 800;
  font-size: 1rem;
}

.pg-alimentador-apoiadoreslista .nao-pago h5 {
  color: rgb(34, 21, 21);
  text-decoration: none;
}

.pg-alimentador-apoiadoreslista .pago h5 {
  color: rgba(14, 28, 14, 0.875);
  text-decoration: none;
}

.pg-alimentador-apoiadoreslista img {
  transform: translateY(50%);
  height: 80px;
  width: 80px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.criar-conta{
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.btn-criar-conta{
  border-radius: 20px;
  font-family: "Saira";
  font-weight: 800;
  font-size: 1.4rem;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #036025;
}
.btn-criar-conta:hover{
transition: .60s;
  background-color: #2db45f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

:root {
  --font-titulo: "Saira", sans-serif;
  --font-texto: "Poppins", sans-serif;
}

:root {
  --cor-body: #222222;
  --cor-p: #f49336;
  --cor-s: #f85a40;
  --cor-t:#775c4c;
}

body {
  background-color: var(--cor-p);
  margin: 0 auto;
}

/* botao */
.wrapper {
  top: 50%;
  left: 50%;
}

.link_wrapper {
  position: relative;
}

.botao-apoio {
  display: flex;
  justify-content: center;
}

.botao-apoio a {
  border-radius: 20px;
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-family: var(--font-titulo);
  font-weight: 800;
  text-decoration: none;
  background: var(--cor-s);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid var(--cor-body);
  transition: all 0.35s;
}

.botao-apoio a:hover {
  width: 300px;
  border: 3px solid var(--cor-body);
  background: rgb(45, 173, 45);
  color: black;
}

.botao-apoio a:hover {
  border: 3px solid var(--cor-body);
}/*# sourceMappingURL=main.css.map */